# Entornos virtuales
.venv/
venv/
ENV/

# Archivos de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Archivos de Django
db.sqlite3

# Migraciones compiladas
*.mo
*.pot

# Archivos de logs
*.log

# Archivos de entorno
.env

# Configuración de IDE/Editor
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db
